<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
  <!-- LINKS  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="src/css/jquerymodal.css">
  <link rel="stylesheet" href="src/css/buttons.css">
  <link rel="stylesheet" href="src/css/play.css">
  <link rel="stylesheet" href="src/css/toltip.css">
  <link rel="stylesheet" href="src/css/base.css">



  <title>Play</title>
</head>

<body>
  <!--   SCRIPTS -->
  <script src="src/js/jquery-3.6.0.min.js"></script>
  <script src="src/js/jquerymodal.js" defer></script>
  <script src="src/js/index.js" defer></script>
  <script src="src/js/Three.js"></script>
  <script src="src/js/Detector.js"></script>
  <script src="src/js/Stats.js"></script>
  <script src="src/js/OrbitControls.js"></script>
  <script src="src/js/KeyboardState.js"></script>
  <script src="src/js/THREEx.FullScreen.js"></script>
  <script src="src/js/THREEx.WindowResize.js"></script>
  <script src="src/js/ParticleEngine.js"></script>
  <script src="src/js/ParticleEngineExamples.js"></script>
  <script src="src/js/controllers/user.js" defer></script>
  <!--<script src="src/js/firebase.js" defer></script>-->







  <div>
    <audio id="soundclick" src="assets/button-34.wav"></audio>
    <div class="container" style="display: none;">
      <div class="pause">
        <p>PAUSA</p>
        <button class="btn static" onclick="SoundClick()" id="btn_reanudar">
          <span class="btn__inner static">
            <span class="btn__slide" static></span>
            <span class="btn__content static">Reanudar</span>
          </span>
        </button>
        <a class="btn static" onclick="SoundClick()" href="#m_confi" rel="modal:open">
          <span class="btn__inner static">
            <span class="btn__slide" static></span>
            <span class="btn__content static">Configuraciones</span>
          </span>
        </a>
        <a class="btn static" onclick="SoundClick()" id="btn_salir" href="index.html">
          <span class="btn__inner static">
            <span class="btn__slide" static></span>
            <span class="btn__content static">Abandonar</span>
          </span>
        </a>
      </div>
    </div>
    <div id="m_confi" class="modal" style="display: none;">
      <p>Configuración</p>

      <div>
        <p>Volumen</p>
      </div>
      <div class="range-slider ">
        <input class="range-slider__range" type="range" value="100" min="0" max="500">
        <span class="range-slider__value">0</span>
      </div>
      <div style="text-align-last: center; width: 100%; ">
        <button class="btn static" onclick="SoundClick()" id="btn_save">
          <span class="btn__inner static">
            <span class="btn__slide" static></span>
            <span class="btn__content static">Guardar</span>
          </span>
        </button>
      </div>
    </div>

    <div id="m_end_game" class="modal pause" style="display: none; text-align: center;">
      <h1>FIN DEL JUEGO!</h1>
      <h4>El jugador ganador es: <p style="color: green;" id="ganador"></p> +10</h4>
      <hr>
      <h4>El jugador perdedor es: <p style="color: red;" id="perdedor"></p> -8</h4>
      <hr>
      <a class="btn static" onclick="SoundClick()" id="btn_salir_fin" href="index.html">
        <span class="btn__inner static">
          <span class="btn__slide" static></span>
          <span class="btn__content static">Abandonar</span>
        </span>
      </a>
    </div>
  </div>

  <div id="ThreeJS" style="position: absolute; z-index: 1; left:0px; top:0px"></div>
  <h1 style="position:absolute; z-index:2; padding-left: 25px; color: white; left: 0;" id="namePlayer1">Player 1</h1>
  <h1 style="position:absolute; z-index:2; padding-right: 25px; color: white; right: 0;" id="namePlayer2">Player 2</h1>

  <!-- HUD -->
  <div style="position:absolute; z-index:2; padding-left: 25px; color: white; left: 0; bottom: 0; display:flex;">
    <img src="src/icons/Heal_Icon.png" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="healPlayer1">1</h1>
    <img src="src/icons/Shild_Icon.png" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="shildPlayer1">1</h1>
    <img src="src/icons/Ball_Icon.png" id="ballImagePlayer1" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="ballPlayer1">1</h1>
  </div>

  <div style="position:absolute; z-index:2; padding-right: 25px; color: white; right: 0; bottom: 0; display:flex;">
    <img src="src/icons/Heal_Icon.png" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="healPlayer2">1</h1>
    <img src="src/icons/Shild_Icon.png" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="shildPlayer2">1</h1>
    <img src="src/icons/Ball_Icon.png" id="ballImagePlayer2" style="width: 70px; height: 70px;" alt="">
    <h1 style="padding: 0 10px;" id="ballPlayer2">1</h1>
  </div>
  <!-- HUD -->

  <script type="module">
    'use strict';
    import { GLTFLoader } from "../views/src/js/GLTFLoader.js";
    // MAIN
    var particleSystem
    var battleShip;
    var battleShip2;
    var pared;
    var rueda;
    var rueda2;
    var estatua;
    var rock;
    var powerUpHeal;
    var powerUpShield;
    var powerUpRocket;
    var firstBB;
    var secondBB;
    var collision;
    var texturat;
    var rock2;
    var ovni;
    var options;
    var particleCount;
    var particles;
    var pMaterial;
    var part;
    //IMAGES SKYDOME

    //Bullets
    var bullet;
    var enemyBullet;
    var bullets = [];
    var enemyBullets = [];
    var bulletAlive = false;
    var bulletEnemyAlive = false;
    var bulletsPlayer = 5;
    var bulletsPlayerEnemy = 5;

    var objetosCol = []
    var objetosColPlayer2 = []

    var tiemposito = 0;

    // MOVER TODO ESTO A UNA CLASE 
    var usP1;
    var usP2;

    var vidaPlayer1 = 5;
    var vidaPlayer2 = 5;

    var damagePlayer1 = 1;
    var damagePlayer2 = 1;

    var shieldPlayer1 = 0;
    var shieldPlayer2 = 0;


    $(document).ready( () => {
      usP1 = JSON.parse(window.localStorage.getItem('user'));
      usP2 = JSON.parse(window.localStorage.getItem('user2'));

      $('#namePlayer1').empty();
      $('#namePlayer1').append(usP1.userName);

      $('#namePlayer2').empty();
      $('#namePlayer2').append(usP2.userName);
    });


    // standard global variables
    var container, scene, camera, renderer, controls, stats, skyboxGeo, skybox;
    var keyboard = new THREEx.KeyboardState();
    var clock = new THREE.Clock();

    // custom global variables
    var mesh;

    init();
    animate();

    // FUNCTIONS 		
    function init() {

      // SCENE
      scene = new THREE.Scene();
      // CAMERA
      var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight;
      var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
      camera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR);
      scene.add(camera);
      camera.position.set(4000, 2300, 0);
      camera.lookAt(scene.position);
      // RENDERER
      if (Detector.webgl)
        renderer = new THREE.WebGLRenderer({ antialias: true });
      else
        renderer = new THREE.RendereCanvasr();
      renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
      container = document.getElementById('ThreeJS');
      container.appendChild(renderer.domElement);



      // EVENTS
      THREEx.WindowResize(renderer, camera);
      THREEx.FullScreen.bindKey({ charCode: 'm'.charCodeAt(0) });


      // CONTROLS
      controls = new THREE.OrbitControls(camera, renderer.domElement);


      // STATS
      stats = new Stats();
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.bottom = '0px';
      stats.domElement.style.zIndex = 100;
      container.appendChild(stats.domElement);


      /*     //SPOTLIGHT FOR LIFEHEALTH
          var spotLight = new THREE.SpotLight(0xff00cc);
          spotLight.position.x=1200;
          spotLight.position.y=1000;
          spotLight.position.=100;
          scene.add(spotLight);
     */
      // SPOTLIGHT
      var spotLight = new THREE.SpotLight(0xffffff);
      spotLight.position.set(1200, 1000, 100);
      scene.add(spotLight);


      //Iluminación 
      var ambientLight = new THREE.AmbientLight(
        new THREE.Color(1, 1, 1),
        0.5
      );

      var directionalLight = new THREE.DirectionalLight(
        new THREE.Color(0xFFFFFF),
        2
      );

      directionalLight.position.set(0, 2, 1);

      scene.add(ambientLight);
      scene.add(directionalLight);

      // FLOOR
      texturat = new THREE.TextureLoader().load("../views/src/js/imagenes/waterpurple.jpg");
      texturat.wrapS = texturat.wrapT = THREE.RepeatWrapping;
      texturat.repeat.set(0.6, 0.6);
      var floorMaterial = new THREE.MeshBasicMaterial({ map: texturat, side: THREE.DoubleSide });
      var floorGeometry = new THREE.CircleGeometry(5000, 32);
      var floor = new THREE.Mesh(floorGeometry, floorMaterial);
      floor.position.y = -0.5;
      floor.rotation.x = Math.PI / 2;
      scene.add(floor);
      var cubemat = [
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_ft.png"), side: THREE.BackSide }),
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_bk.png"), side: THREE.BackSide }),
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_up.png"), side: THREE.BackSide }),
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_dn.png"), side: THREE.BackSide }),
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_rt.png"), side: THREE.BackSide }),
        new THREE.MeshBasicMaterial({ map: new THREE.TextureLoader().load("../views/src/js/imagenes/skyast_lf.png"), side: THREE.BackSide })
      ];
      var cubematerial = new THREE.MeshFaceMaterial(cubemat);
      skyboxGeo = new THREE.BoxGeometry(10000, 10000, 10000);
      var cube = new THREE.Mesh(skyboxGeo, cubematerial)
      cube.position.x = 0;
      scene.add(cube);


      ////////////
      // CUSTOM //
      ////////////
      var loader = new GLTFLoader().setPath('../views/src/assets/gltf/Ships/');
      loader.load('barco1.gltf', (gltf) => {

        battleShip = gltf.scene;

        battleShip.position.x = 300;
        battleShip.position.y = 3;
        battleShip.position.z = 2000;
        battleShip.rotation.y = 80;
        battleShip.name = "battleShip";

        scene.add(battleShip);

        battleShip2 = battleShip.clone()

        battleShip2.position.x = 300;
        battleShip2.position.y = 3;
        battleShip2.position.z = -2000;
        battleShip2.rotation.y = -80;
        battleShip2.name = "battleShip2";

        scene.add(battleShip2);

        objetosCol.push(battleShip2);
        objetosColPlayer2.push(battleShip);
      });

      loader.load('ovni.gltf', (gltf) => {

        pared = gltf.scene;

        pared.position.x = 10;
        pared.position.y = 60;
        pared.position.z = 0;
       
        pared.name = "pared";

        scene.add(pared);

      });





      loader.load('powerUpHeal.gltf', (gltf) => {

        powerUpHeal = gltf.scene;

        powerUpHeal.position.x = 0;
        powerUpHeal.position.z = 1200;
        powerUpHeal.position.y = 100;

        powerUpHeal.name = "powerUpHeal";
        scene.add(powerUpHeal);

        objetosCol.push(powerUpHeal);
        objetosColPlayer2.push(powerUpHeal);
      });

      loader.load('powerUpShield.gltf', (gltf) => {

        powerUpShield = gltf.scene;

        powerUpShield.position.x = 900;
        powerUpShield.position.z = 0;
        powerUpShield.position.y = 100;

        powerUpShield.name = "powerUpShield";
        scene.add(powerUpShield);

        objetosCol.push(powerUpShield);
        objetosColPlayer2.push(powerUpShield);
      });

      loader.load('powerUpRocket.gltf', (gltf) => {

        powerUpRocket = gltf.scene;

        powerUpRocket.position.x = 0;
        powerUpRocket.position.z = -1200;
        powerUpRocket.position.y = 100;

        powerUpRocket.name = "powerUpRocket";
        scene.add(powerUpRocket);

        objetosCol.push(powerUpRocket);
        objetosColPlayer2.push(powerUpRocket);
      });




      loader.load('mon.gltf', (gltf) => {

        rock = gltf.scene;

        rock.position.x = 1700;
        rock.position.z = 0;
        rock.position.y = 30;
        rock.scale.x =1;
        rock.scale.y =1;
        rock.scale.z =1;
        rock.name = "rock";
        scene.add(rock);

        rock2 = rock.clone();

        rock2.position.x = -1700;
        rock2.position.z = 0;
        rock2.name = "rock2";
        scene.add(rock2);

        rock3 = rock.clone();

        rock3.position.x = 0;
        rock3.position.z = -2000;
        rock3.name = "rock3";
        scene.add(rock3);

        rock4 = rock.clone();

        rock4.position.x = 0;
        rock4.position.z = 2000;
        rock4.name = "rock4";
        scene.add(rock4);


      });

      loader.load('bullet.gltf', (gltf) => {

        enemyBullet = gltf.scene;

        enemyBullet.name = "bullet";

        bullet = enemyBullet.clone();

      });

      //////////////////////////////Particulas
      particleCount = 15000,
        particles = [],
        pMaterial = new THREE.PointsMaterial({
          color: 0xA8CEFC,
          size: 40
        });

      // now create the individual particles
      for (var p = 0; p < particleCount; p++) {

        // create a particle with random
        // position values, -250 -> 250
        var pX = -1000 + (Math.random() * 200),
          pY = Math.random() * 3000 - 1500,
          pZ = Math.random() * 80 - 40,
          particle = new THREE.Vector3(pX, pY, pZ);

        // add it to the geometry
        particles.push(particle);
      }
      part = new THREE.BufferGeometry().setFromPoints(particles);
      // create the particle system
      particleSystem = new THREE.Points(
        part,
        pMaterial);
      particleSystem.position.x = -1000;
      // add it to the scene
      scene.add(particleSystem);

      ////////////////////////////////////////////////////////////Particulas

    }

    function animate() {
      requestAnimationFrame(animate);
      render();
      update();
    }

    function update() {
      ////////////////////////////////Para lass particulas
      particleSystem.rotation.y += 0.01;

      const positions = part.attributes.position.array
      for (let i = 0; i < positions.length; i += 3) {
        const v = new THREE.Vector3(positions[i], positions[i + 1], positions[i + 2]).multiplyScalar(1);

        positions[i] = v.x
        positions[i + 1] = v.y + 50
        positions[i + 2] = v.z

        if (positions[i + 1] > 3000) {
          positions[i] = -1000 + (Math.random() * 40)
          positions[i + 1] = 0
          positions[i + 2] = Math.random() * 80 - 40
        }
        if (positions[i + 1] > 20) {
          positions[i] = v.x + ((Math.random() * 100 - 50) * 1.3)
          positions[i + 2] = v.z + ((Math.random() * 100 - 50) * 1.3)
        }

      }
      particleSystem.geometry.attributes.position.needsUpdate = true

      ////////////////////////////////Para lass particulas

      function colisionBloques() {

        if (Math.sqrt(Math.pow((battleShip.position.x - pared.position.x), 2) + Math.pow((battleShip.position.z - pared.position.z), 2)) < 300) {
          console.log("joto");
        }

      }

      var delta = clock.getDelta(); // seconds.
      var moveDistance = 600 * delta; // 200 pixels per second
      var rotateAngle = Math.PI / 2 * delta;
      var rotation_matrix = new THREE.Matrix4().identity();
      var powerUpHeal = scene.getObjectByName("powerUpHeal");
      var powerUpShield = scene.getObjectByName("powerUpShield");
      var powerUpRocket = scene.getObjectByName("powerUpRocket");

      // global coordinates

      //#region JUGADOR 1
      if (keyboard.pressed("left")) {
        battleShip.position.z += moveDistance;
        battleShip.rotation.y = 1.5708;
      }
      else if (keyboard.pressed("right")) {
        battleShip.position.z -= moveDistance;
        battleShip.rotation.y = 4.71239;
      }
      else if (keyboard.pressed("up")) {
        battleShip.position.x -= moveDistance;
        battleShip.rotation.y = 0;
      }
      else if (keyboard.pressed("down")) {
        battleShip.position.x += moveDistance;
        battleShip.rotation.y = 3.14159;
      }

      colisionPlayer1();

      //#region BULLET PLAYER 1
      for (var i = 0; i < bullets.length; i += 1) {
        if (bullets[i] === undefined) continue;
        if (bullets[i].alive == false) {
          bullets.splice(i, 1);
          continue
        }

        bullets[i].position.add(bullets[i].velocity);
      }

      colisionBulletPlayer1();

      if (keyboard.pressed("N") && bulletAlive != true) {
        if (bulletsPlayer != 0) {
          bulletsPlayer = bulletsPlayer - 1;



          bullet.position.set(
            battleShip.position.x,
            battleShip.position.y,
            battleShip.position.z
          );

          bullet.velocity = new THREE.Vector3(
            Math.sin(battleShip.rotation.y) * 60,
            0,
            Math.cos(battleShip.rotation.y) * 60
          );

          bullet.alive = true;
          bulletAlive = true;


          setTimeout(
            function () {
              bullet.position.set(0, 0, 0);

              if (damagePlayer1 > 1) {
                $("#ballImagePlayer1").attr("src", "src/icons/Ball_Icon.png");
                damagePlayer1 = 1;
              }

              bulletAlive = false;
              bullet.alive = false;
              scene.remove(bullet);
            }, 1000);

          bullets.push(bullet);
          scene.add(bullet);
        }
      }

      if (keyboard.pressed("B")) {
        bulletsPlayer = 5;
      }
      //#endregion

      //#endregion

      //#region JUGADOR 2
      if (keyboard.pressed("A")) {
        battleShip2.position.z += moveDistance;
        battleShip2.rotation.y = 1.5708;
      }
      else if (keyboard.pressed("D")) {
        battleShip2.position.z -= moveDistance;
        battleShip2.rotation.y = 4.71239;
      }
      else if (keyboard.pressed("W")) {
        battleShip2.position.x -= moveDistance;
        battleShip2.rotation.y = 3.14159;
      }
      else if (keyboard.pressed("S")) {
        battleShip2.position.x += moveDistance;
        battleShip2.rotation.y = 0;
      }

      colisionPlayer2();

      //#region BULLET PLAYER 2
      for (var i = 0; i < enemyBullets.length; i += 1) {
        if (enemyBullets[i] === undefined) continue;
        if (enemyBullets[i].alive == false) {
          enemyBullets.splice(i, 1);
          continue
        }

        enemyBullets[i].position.add(enemyBullets[i].velocity);
      }

      colisionBulletPlayer2();

      if (keyboard.pressed("E") && bulletEnemyAlive != true) {
        if (bulletsPlayerEnemy != 0) {
          bulletsPlayerEnemy = bulletsPlayerEnemy - 1;



          enemyBullet.position.set(
            battleShip2.position.x,
            battleShip2.position.y,
            battleShip2.position.z
          );

          enemyBullet.velocity = new THREE.Vector3(
            Math.sin(battleShip2.rotation.y) * 60,
            0,
            Math.cos(battleShip2.rotation.y) * 60
          );

          enemyBullet.alive = true;
          bulletEnemyAlive = true;


          setTimeout(
            function () {
              enemyBullet.position.set(0, 0, 0);

              if (damagePlayer2 > 1) {
                $("#ballImagePlayer2").attr("src", "src/icons/Ball_Icon.png");
                damagePlayer2 = 1;
              }

              bulletEnemyAlive = false;
              enemyBullet.alive = false;
              scene.remove(enemyBullet);
            }, 1000);

          enemyBullets.push(enemyBullet);
          scene.add(enemyBullet);
        }
      }

      if (keyboard.pressed("R")) {
        bulletsPlayerEnemy = 5;
      }
      //#endregion

      //#endregion


      powerUpHeal.rotation.y += THREE.Math.degToRad(45) * delta;
      powerUpShield.rotation.y += THREE.Math.degToRad(45) * delta;
      powerUpRocket.rotation.y += THREE.Math.degToRad(45) * delta;


      colisionBloques();

      updateHud();


      controls.update();
      stats.update();
    }

    // HUD
    function updateHud() {
      $('#healPlayer1').empty();
      $('#shildPlayer1').empty();
      $('#ballPlayer1').empty();

      $('#healPlayer2').empty();
      $('#shildPlayer2').empty();
      $('#ballPlayer2').empty();

      $('#healPlayer1').append(vidaPlayer1);
      $('#shildPlayer1').append(shieldPlayer1);
      $('#ballPlayer1').append(bulletsPlayer);

      $('#healPlayer2').append(vidaPlayer2);
      $('#shildPlayer2').append(shieldPlayer2);
      $('#ballPlayer2').append(bulletsPlayerEnemy);
    }
    // HUD

    function colisionBulletPlayer1() {

      if (objetosCol != undefined && objetosCol != null) {
        objetosCol.forEach(objeto => {
          if (objeto != undefined) {
            if (Math.sqrt(Math.pow((bullet.position.x - objeto.position.x), 2) + Math.pow((bullet.position.z - objeto.position.z), 2)) < 300) {

              if (objeto.name == "battleShip2") {

                if (shieldPlayer2 > 0) {
                  if (shieldPlayer2 < damagePlayer1) {
                    shieldPlayer2 = 0;
                  } else {
                    shieldPlayer2 = shieldPlayer2 - damagePlayer1;
                  }
                  console.log(shieldPlayer1);
                } else {
                  vidaPlayer2 = vidaPlayer2 - damagePlayer1;
                  if (vidaPlayer2 <= 0) {
                    showGameOver(usP1, usP2);
                  }
                  console.log(vidaPlayer2);
                }

              }

              if (damagePlayer1 > 1) {
                $("#ballImagePlayer1").attr("src", "src/icons/Ball_Icon.png");
                damagePlayer1 = 1;
              }

              bullet.position.set(0, 0, 0);

              bulletAlive = false;
              bullet.alive = false;

              scene.remove(bullet);
            }
          }
        });
      }
    }

    function colisionPlayer1() {

      if (objetosCol != undefined && objetosCol != null) {
        objetosCol.forEach(objeto => {
          if (objeto != undefined) {
            if (Math.sqrt(Math.pow((battleShip.position.x - objeto.position.x), 2) + Math.pow((battleShip.position.z - objeto.position.z), 2)) < 300) {

              if (objeto.name == "powerUpHeal" && objeto.visible == true) {
                vidaPlayer1++;
                console.log(vidaPlayer1);
                objeto.visible = false;
              }

              if (objeto.name == "powerUpRocket" && objeto.visible == true) {
                damagePlayer1 = 2;
                $("#ballImagePlayer1").attr("src", "src/icons/Ball_Red_Icon.png");
                console.log(damagePlayer1);
                objeto.visible = false;
              }

              if (objeto.name == "powerUpShield" && objeto.visible == true) {
                shieldPlayer1 = shieldPlayer1 + 2;
                console.log(shieldPlayer1);
                objeto.visible = false;
              }
            }
          }
        });
      }
    }

    function colisionBulletPlayer2() {

      if (objetosColPlayer2 != undefined && objetosColPlayer2 != null) {
        objetosColPlayer2.forEach(objeto => {
          if (objeto != undefined) {
            if (Math.sqrt(Math.pow((enemyBullet.position.x - objeto.position.x), 2) + Math.pow((enemyBullet.position.z - objeto.position.z), 2)) < 300) {
              if (objeto.name == "battleShip") {

                if (shieldPlayer1 > 0) {
                  if (shieldPlayer1 < damagePlayer2) {
                    shieldPlayer1 = 0;
                  } else {
                    shieldPlayer1 = shieldPlayer1 - damagePlayer2;
                  }
                  console.log(shieldPlayer1);
                } else {
                  vidaPlayer1 = vidaPlayer1 - damagePlayer2;
                  if (vidaPlayer1 <= 0) {
                    showGameOver(usP2, usP1);
                  }
                  console.log(vidaPlayer1);
                }

              }

              if (damagePlayer2 > 1) {
                $("#ballImagePlayer2").attr("src", "src/icons/Ball_Icon.png");
                damagePlayer2 = 1;
              }

              enemyBullet.position.set(0, 0, 0);

              bulletEnemyAlive = false;
              enemyBullet.alive = false;

              scene.remove(enemyBullet);
            }
          }
        });
      }
    }

    function colisionPlayer2() {

      if (objetosColPlayer2 != undefined && objetosColPlayer2 != null) {
        objetosColPlayer2.forEach(objeto => {
          if (objeto != undefined) {
            if (Math.sqrt(Math.pow((battleShip2.position.x - objeto.position.x), 2) + Math.pow((battleShip2.position.z - objeto.position.z), 2)) < 300) {

              if (objeto.name == "powerUpHeal" && objeto.visible == true) {
                vidaPlayer2++;
                console.log(vidaPlayer2);
                objeto.visible = false;
              }

              if (objeto.name == "powerUpRocket" && objeto.visible == true) {
                damagePlayer2 = 2;
                $("#ballImagePlayer2").attr("src", "src/icons/Ball_Red_Icon.png");
                console.log(damagePlayer2);
                objeto.visible = false;
              }

              if (objeto.name == "powerUpShield" && objeto.visible == true) {
                shieldPlayer2 = shieldPlayer2 + 2;
                console.log(shieldPlayer2);
                objeto.visible = false;
              }

            }
          }
        });
      }

    }

    function showGameOver(winner, loser) {

      $('#ganador').empty("");
      $('#perdedor').empty("");

      $('#ganador').append(winner.userName);
      $('#perdedor').append(loser.userName);
      $('#m_end_game').modal('show');

      var userWin = new User(winner.id, null, null, null, parseInt(winner.totalPoints) + 10).updateTotalPoints();
      var userLose = new User(loser.id, null, null, null, parseInt(loser.totalPoints) - 8).updateTotalPoints();
      
      

      var updateUser1 = new User(usP1.id, null, null, null, null).updateUserLocalStorage("user");
      var updateUser2 = new User(usP2.id, null, null, null, null).updateUserLocalStorage("user2");
    }

    function render() {
      texturat.offset.x += .0003;
      renderer.render(scene, camera);
    }

  </script>

  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
  <script id="Firebase">
    var firebaseConfig = {
      apiKey: "AIzaSyD-WLwlfxASSyndVSZ8R31aCeHfYVoBxws",
      authDomain: "graficasweb-745d9.firebaseapp.com",
      databaseURL: "https://graficasweb-745d9-default-rtdb.firebaseio.com/",
      projectId: "graficasweb-745d9",
      storageBucket: "graficasweb-745d9.appspot.com",
      messagingSenderId: "762725047745",
      appId: "1:762725047745:web:440d63ec2d1f90ab34e340",
      measurementId: "G-BNWMRV61SW"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    //firebase.analytics();
  </script>
</body>

</html>